apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: boardposts.bulletin
spec:
  group: bulletin
  scope: Cluster
  names:
    plural: boardposts
    singular: boardpost
    kind: BoardPost
    shortNames:
      - bp
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                author:
                  type: string
                airportId:
                  type: string
                expiresAt:
                  type: string
                  format: date-time
            status:
              type: object
              properties:
                visible:
                  type: boolean
                moderated:
                  type: boolean
                deleted:
                  type: boolean

