apiVersion: cf.guber.proc.io/v1
kind: Worker
metadata:
  name: example-worker-inline
spec:
  name: example-worker-inline
  script: |
    export default {
      async fetch(request, env, ctx) {
        return new Response('Hello from Cloudflare Worker!', {
          headers: { 'Content-Type': 'text/plain' }
        })
      }
    }
  compatibility_date: "2025-11-27"
