apiVersion: cf.guber.proc.io/v1
kind: Worker
metadata:
  name: example-worker-inline
spec:
  name: example-worker-inline
  script: |
    addEventListener('fetch', event => {
      event.respondWith(handleRequest(event.request))
    })

    async function handleRequest(request) {
      return new Response('Hello from Cloudflare Worker!', {
        headers: { 'Content-Type': 'text/plain' }
      })
    }
  compatibility_date: "2023-05-18"
# This worker will be available at: example-worker.{GUBER_NAME}.{GUBER_DOMAIN}

# Alternative using scriptUrl:
# spec:
#   name: example-worker
#   scriptUrl: "https://github.com/your-org/your-repo/releases/download/v1.0.0/example-worker.js"
#   compatibility_date: "2023-05-18"
