apiVersion: cf.guber.proc.io/v1
kind: Worker
metadata:
  name: example-worker-inline
spec:
  name: example-worker-inline
  script: |
    // SPDX-FileCopyrightText: 2025 Alex Polvi
    // SPDX-License-Identifier: AGPL-3.0-or-later

    // src/index.ts
    var index_default = {
      async fetch(request, env, ctx) {
        return new Response("Hello World!");
      }
    };
    export {
      index_default as default
    };
    //# sourceMappingURL=index.js.map
  compatibility_date: "2025-11-27"
